Source: curvedns
Section: net
Priority: standard
Maintainer: Debian Security Tools Packaging Team <pkg-security-team@lists.alioth.debian.org>
Uploaders: NEVEU Stephane <stefneveu@gmail.com>
Build-Depends:
 debhelper (>=10),
 libev-dev,
 libsodium-dev,
 ruby-ronn,
 po-debconf,
 dh-systemd
Homepage: http://curvedns.on2it.net/
Standards-Version: 3.9.8
Vcs-Git: https://github.com/r3dlight/curvedns.git
Vcs-Browser: https://github.com/r3dlight/curvedns

Package: curvedns
Depends: adduser,
 ${misc:Depends},
 ${shlibs:Depends},
  lsb-base (>=3.0-6)
Architecture: any
Description: DNS/DNSCurve forwarding name server - binaries
 The curvedns package provides software for DNS/DNSCurve.
 .
 CurveDNS is the first publicly released forwarding implementation
 that implements the DNSCurve protocol

