Source: curvedns
Section: net
Priority: standard
Build-Depends:
 debhelper (>=10),
 libev-dev,
 libnacl-dev,
 ruby-ronn
Maintainer: NEVEU Stephane <stefneveu@gmail.com>
Homepage: http://curvedns.on2it.net/
Standards-Version: 3.9.8
Vcs-Git: https://github.com/r3dlight/curvedns.git
Vcs-Browser: https://github.com/r3dlight/curvedns

Package: curvedns
Depends: adduser,
         daemontools-run,
         curvedns,
         ${misc:Depends},
         ${shlibs:Depends},
Architecture: any
Description: DNS/DNSCurve forwarding name server - binaries
 The curvedns package provides software for DNS/DNSCurve.
 .
 CurveDNS is the first publicly released forwarding implementation
 that implements the DNSCurve protocol

