#!/bin/sh -e
set -e

# Source debconf library.
. /usr/share/debconf/confmodule


# ask an fqdn
db_input high curvedns/ask_fqdn || true
db_go
db_get curvedns/ask_fqdn
#echo $RET

if [ -n "$RET" ]; then
  result=`echo $RET | grep -P '(?=^.{1,254}$)(^(?>(?!\d+\.)[a-zA-Z0-9_\-]{1,63}\.?)+(?:[a-zA-Z]{2,})$)'`
  while [ -z "$result" ]
  do
    db_input high curvedns/ask_again || true
    db_go
    db_get curvedns/ask_again
    result=`echo $RET | grep -P '(?=^.{1,254}$)(^(?>(?!\d+\.)[a-zA-Z0-9_\-]{1,63}\.?)+(?:[a-zA-Z]{2,})$)'`
  done  
  curvedns-keygen /etc/curvedns $RET
fi
