#!/bin/sh -e
set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# ask an fqdn
db_input medium curvedns/ask_fqdn || true
db_go

# Generate the key.
db_get curvedns/ask_fqdn
echo $RET

if [ -n "$RET" ]; then
  result=`echo $RET | grep -P '(?=^.{1,254}$)(^(?>(?!\d+\.)[a-zA-Z0-9_\-]{1,63}\.?)+(?:[a-zA-Z]{2,})$)'`
  if [[ -z "$result" ]]
  then
    echo "$RET is NOT a FQDN"
  else
    curvedns-keygen /etc/curvedns $RET	
    #echo "$fqdn is a FQDN"
  fi
fi
