[Unit]
Description=curvedns daemon
Documentation=man:curvedns(8) man:curvedns-keygen(1)
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/curvedns
ExecStart=/usr/sbin/curvedns ${IP} ${PORT} ${REMOTEIP} ${REMOTEPORT}
Restart=on-failure
SystemCallFilter=~ptrace
PrivateDevices=yes

[Install]
WantedBy=multi-user.target

