[Unit]
Description=curvedns daemon
Documentation=man:curvedns(8) man:curvedns-keygen(1)
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/curvedns
ExecStartPre=/usr/bin/test "$KEYS_GENERATED" != "0"
ExecStart=/usr/sbin/curvedns $IP $PORT $REMOTEIP $REMOTEPORT
Restart=on-failure
InaccessiblePaths=/proc
SystemCallFilter=~ptrace
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
