#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

#export DEB_BUILD_MAINT_OPTIONS = hardening=-pie,-format,+fortify,+stackprotector,+relro,+bindnow
#export DEB_BUILD_MAINT_OPTIONS = hardening=+pie,-format,+fortify,+stackprotector,+relro,+bindnow
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_BUILD_HARDENING=1


# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

override_dh_auto_configure:
	 $(CURDIR)/configure.nacl
	 $(CURDIR)/configure.curvedns

override_dh_auto_build:
	dh_auto_build
	ronn -r $(CURDIR)/debian/curvedns.8.ronn
	ronn -r $(CURDIR)/debian/curvedns-keygen.1.ronn

override_dh_installinit:
	dh_installinit -n

%:
	dh $@

