#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all


%:
	dh $@

#Building manpages
override_dh_installman:
	ronn -r $(CURDIR)/debian/curvedns.8.ronn
	ronn -r $(CURDIR)/debian/curvedns-keygen.1.ronn
	dh_installman

override_dh_clean:
	rm -f debian/curvedns.8
	rm -f debian/curvedns-keygen.1
	dh_clean
